/BasicErrorPayload.cs
/BlobReference.cs
/Cliente.cs
/CreateBulkClienteInput.cs
/CreateBulkClienteOutput.cs
/Dependency.cs
/EmailNotifyUserEventPayload.cs
/ErrorStrategy.cs
/ErrorType.cs
/EventEmailFormat.cs
/EventType.cs
/ExportClienteEventPayload.cs
/ExportClienteInput.cs
/ExportClienteOutput.cs
/ExportConfig.cs
/ExportEventStatus.cs
/FieldType.cs
/Fielddto.cs
/FileFormat.cs
/GetDependenciesOutput.cs
/GetMetadataImpl.cs
/GetMetadataInput.cs
/GetMetadataOutput.cs
/HelloWorldConstants.cs
/HelloWorldInput.cs
/HelloWorldOutput.cs
/HelloWorldValidator.cs
/HookFunction.cs
/Hookdto.cs
/ICreateBulkCliente.cs
/ICreateCliente.cs
/ICreateMergeCliente.cs
/IDeleteCliente.cs
/IExportCliente.cs
/IExportClienteEvent.cs
/IGetDependencies.cs
/IGetMetadata.cs
/IHelloWorld.cs
/IImportCliente.cs
/IImportClienteEvent.cs
/IListCliente.cs
/INotifyUserEvent.cs
/IOdata.cs
/IRetrieveCliente.cs
/IServiceStarted.cs
/IUpdateCliente.cs
/IUpdateMergeCliente.cs
/ImportClienteEventPayload.cs
/ImportClienteInput.cs
/ImportClienteOutput.cs
/ImportConfig.cs
/ImportError.cs
/ImportEventStatus.cs
/ImportReport.cs
/Layoutdto.cs
/NotifyUserEventPayload.cs
/PushNotifyUserEventPayload.cs
/ServiceStartedPayload.cs
/Status.cs
/UserNotificationKind.cs
/UserNotificationPriority.cs
