/CreateBulkClienteImpl.java
/CreateClienteImpl.java
/CreateMergeClienteImpl.java
/DeleteClienteImpl.java
/ExportClienteImpl.java
/GetDependenciesImpl.java
/GetMetadataImpl.java
/HelloWorldImpl.java
/ImportClienteImpl.java
/ListClienteImpl.java
/RetrieveClienteImpl.java
/UpdateClienteImpl.java
/UpdateMergeClienteImpl.java
