/examples_hello_world.openapi.yaml
/examples_hello_world.schema.json
/examples_hello_world.sd.json
/examples_hello_world.sd.xml
/examples_hello_world.swagger.yaml
/examples_hello_world.wsdl
/examples_hello_world.xsd
